:root
{
    --mainBackground:hsl(233, 47%, 7%);
    --cardBackground:hsl(244, 38%, 16%);
    --softViolet:hsl(277, 64%, 61%);
    --mainParagraph:hsla(0, 0%, 100%, 0.75);
    --statHeadings:hsla(0, 0%, 100%, 0.6);
--rounded-corner:.8rem;


}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
 
  
}
body 
{
    font-family: "Hanken Grotesk", serif;
    min-height: 100vh;
    line-height: 1.5;
    background-color: var(--mainBackground);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-card 
{
    background-color: var(--cardBackground);
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional for better emphasis */
    border-bottom-left-radius: var(--rounded-corner); /* Match the image's border radius */
    border-bottom-right-radius: var(--rounded-corner); /* Match the image's border radius */


}

.stats-image
{
  border-top-left-radius: var(--rounded-corner);
  border-top-right-radius:var(--rounded-corner);

}
header
{
  z-index: 0;
/* makes under the overlay */
position: relative;
display: block;

}
header::after
{
  content: '';
background-color: var(--softViolet);
width: 100%;
height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: var(--rounded-corner); /* Match the image's border radius */
  border-top-right-radius: var(--rounded-corner); /* Match the image's border radius */
opacity: .4;
z-index: 1;
/* makes over the image */
}
.stats-content
{
 padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 margin: auto;

margin-top: 1rem;
}
h1 
{
  color:#fff;
  font-size: 2.5rem;
   width: 22rem;
  text-align: center;
font-weight: bold;
  margin-bottom: 0;
  line-height: 1.3;

}
h1 strong
{
  color: var(--softViolet);
  
}
.discover
{
color: var(--statHeadings);
font-size: 20px;
text-align: center;
width: 25rem;

}
.testimonials 
{
  display: flex;
  flex-direction: column;
}
.testimonials article
{
  text-align: center;
}
.testimonials div 
{
  color: #fff;
font-size: 2rem;
font-weight: bold;
}
.testimonials p 
{
  color: var(--statHeadings);
  text-transform: uppercase;
}
@media only screen and (min-width: 900px) {
 
.stats-card
{
width: 750px;
display: flex;
flex-direction: row-reverse;
border-radius: .8rem;

}

header 
{
  background-image: url('./images/image-header-desktop.jpg');
background-repeat: repeat;
background-position:center;
background-size: cover;

border-top-right-radius: var(--rounded-corner);
border-bottom-right-radius: var(--rounded-corner);


}

.testimonials
{
  flex-direction: row;
  gap: 1rem;
}
h1 
{
  font-size: 25px;
}
.discover
{
  font-size: 15px;
}
.number  
{
  font-size: 1rem;
}
.testimonials p 
{
  font-size: 12px;
}
}